.image01 {
    background-image: url(frontpage01.jpg);
}

.image02 {
    background-image: url(frontpage02.gif);
}

.image03 {
    background-image: url(frontpage03.jpg);
}

.image04 {
    background-image: url(frontpage04.jpg);
}

.image05 {
    background-image: url(frontpage05.gif);
}

.image06 {
    background-image: url(frontpage06.jpg);
}

.image07 {
    background-image: url(frontpage07.jpg);
}